<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../layouts/MasterPage.xhtml">

            <ui:define name="splash">
            </ui:define>
            
            <ui:define name="content">
                <h2>Perfiles</h2>
                
                <p:commandButton id="btnCrear" update=":frmCrear:Crear" oncomplete="PF('create').show()" 
                                 value="Crear" title="Crear">
                </p:commandButton>
                
                <br></br>
                <br></br>
                
                <h:form id="frmPpal">
                    <p:dataTable id="dtConsultar" var="item" value="#{perfilBean.lstPerfiles}" rows="10"
                            paginator="true"
                            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                            rowsPerPageTemplate="5,10,15">
                        <p:column headerText="Id">
                            <h:outputText value="#{item.id}" />
                        </p:column>

                        <p:column headerText="Nombre">
                            <h:outputText value="#{item.nombre}" />
                        </p:column>
                        
                        <p:column headerText="Descripción">
                            <h:outputText value="#{item.descripcion}" />
                        </p:column>
                        
                        <p:column style="width:32px;text-align: center">
                            <p:commandButton id="btnEditar" update=":frmEditar:detail" oncomplete="PF('dialog').show()" icon="ui-icon-pencil" 
                                              title="View">
                                 <f:setPropertyActionListener value="#{item}" target="#{perfilBean.item}" />
                            </p:commandButton>
                        </p:column>
                        
                    </p:dataTable>
                </h:form>
                
                <p:dialog header="Detalle" widgetVar="dialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <h:form id="frmEditar">
                        <p:outputPanel id="detail" style="text-align:center;">                        
                            <h:panelGrid columns="3" rendered="#{not empty perfilBean.item}" columnClasses="label, value">
                                
                                <h:outputLabel id="lblId" for="txtID" value="ID: "/>
                                <h:inputText id="txtID" required="true" label="Campo ID. " 
                                             value="#{perfilBean.item.id}" />
                                <h:message for="txtID" id="msgID" title="ID " />
                                
                                <h:outputLabel id="lblNombre" for="txtNombre" value="Nombre: "/>
                                <h:inputText id="txtNombre" required="true" label="Campo Nombre. " 
                                             value="#{perfilBean.item.nombre}" />
                                <h:message for="txtNombre" id="msgNombre" title="Nombre " />
                                
                                <h:outputLabel id="lblDescripcion" for="txtDescripcion" value="Descripcion: "/>
                                <h:inputText id="txtDescripcion" required="true" label="Campo Descripcion. " 
                                             value="#{perfilBean.item.descripcion}" />
                                <h:message for="txtDescripcion" id="msgDescripcion" title="Descripcion " />
                                
                                <p:commandButton id="btnEnviar" value="Enviar" actionListener="#{perfilBean.Actualizar}" 
                                                 oncomplete="PF('dialog').hide()" ajax="false" />
                                <p:commandButton id="btnEliminar" value="Eliminar" actionListener="#{perfilBean.Eliminar}" 
                                                 oncomplete="PF('dialog').hide()" ajax="false" />
                            </h:panelGrid>
                        </p:outputPanel>
                    </h:form>
                </p:dialog>
                
                <p:dialog header="Crear" widgetVar="create" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <h:form id="frmCrear">
                        <p:outputPanel id="Crear" style="text-align:center;">                        
                            <h:panelGrid columns="3">
                                
                                <h:outputLabel id="lblNombre" for="txtNombre" value="Nombre: "/>
                                <h:inputText id="txtNombre" required="true" label="Campo Nombre. " 
                                             value="#{perfilBean.nombre}" />
                                <h:message for="txtNombre" id="msgNombre" title="Nombre " />
                                
                                <h:outputLabel id="lblDescripcion" for="txtDescripcion" value="Descripcion: "/>
                                <h:inputText id="txtDescripcion" required="true" label="Campo Descripcion. " 
                                             value="#{perfilBean.descripcion}" />
                                <h:message for="txtDescripcion" id="msgDescripcion" title="Descripcion " />
                                
                                <p:commandButton id="btnGuardar" value="Guardar" actionListener="#{perfilBean.Guardar}" 
                                                 oncomplete="PF('dialog').hide()" ajax="false" />
                            </h:panelGrid>
                        </p:outputPanel>
                    </h:form>
                </p:dialog>
            </ui:define>

        </ui:composition>

    </body>
</html>
