<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        -->
        <h:outputStylesheet name="./css/style.css"/>

        <title>CRM - Call Center</title>
    </h:head>

    <h:body>

        <div id="wrapper">

            <div id="header">
                <div id="logo">
                    <h1><a href="/Codigo/index.xhtml">CRM - Call Center</a></h1>
                </div>
                <div id="slogan">
                    <h2>Calidad de servicio y atención</h2>
                </div>
            </div>
            <div id="menu">
                <ul>
                    <li class="first current_page_item"><a href="/faces/index.xhtml">Inicio</a></li>
                    <li><a href="#{request.requestURL.toString()}actividades/detalle.xhtml">Actividades</a></li>
                    <li><a href="#{request.requestURL.toString()}perfiles/consultar.xhtml">Perfiles</a></li>
                    <li><a href="#{request.requestURL.toString()}usuarios/consultar.xhtml">Usuarios</a></li>
                </ul>
                <br class="clearfix" />
                <div id="divSesionUsuario">
                    <h:form>
                        <p:outputLabel value="#{loginSessionBean.correo==null ? 'Anónimo' : loginSessionBean.correo}" />
                        <!-- Enlace con el session bean -->
                        <p:commandButton value="Salir" action="#{loginSessionBean.salir()}"/>
                    </h:form>
                </div>
            </div>
            
            <ui:insert name="splash">    
                <div id="splash">
                    <img class="pic" src="images/pic01.jpg" width="870" height="230" alt="" />
                </div>
            </ui:insert>
            
            <div id="page">
                <div id="content">
                    <div class="box">
                        <ui:insert name="content">
                            <h2>Titulo de Contenido</h2>
                            <p>Contenido aqui</p>
                        </ui:insert>
                    </div>
                    <br class="clearfix" />
                </div>
                <br class="clearfix" />
            </div>
        </div>

        <div id="footer">
            @Copyrigth Victor Mena, Andres Tabares - Programación 4 - Proyecto - UNIAJC
        </div>
    </h:body>

</html>
