<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../layouts/MasterPage.xhtml">

            <ui:define name="splash">
            </ui:define>

            <ui:define name="content">
                <h2>Usuarios</h2>
                
                <p:commandButton id="btnCrear" label="Crear" update=":frmCrear:Crear" oncomplete="PF('create').show()" 
                                 value="Crear" title="Crear">
                </p:commandButton>
                
                <br></br>
                <br></br>
                
                <h:form id="frmPpal">
                    <p:dataTable id="dtConsultar" var="item" value="#{usuarioBean.lstUsuarios}" rows="10"
                            paginator="true"
                            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                            rowsPerPageTemplate="5,10,15">
                        <p:column headerText="Id">
                            <h:outputText value="#{item.id}" />
                        </p:column>

                        <p:column headerText="Numero">
                            <h:outputText value="#{item.numId}" />
                        </p:column>
                        
                        <p:column headerText="Nombres">
                            <h:outputText value="#{item.nombres}" />
                        </p:column>
                        
                        <p:column headerText="Apellidos">
                            <h:outputText value="#{item.apellidos}" />
                        </p:column>

                        <p:column headerText="Correo">
                            <h:outputText value="#{item.correo}" />
                        </p:column>
                        
                        <p:column style="width:32px;text-align: center">
                            <p:commandButton id="btnEditar" update=":frmEditar:detail" oncomplete="PF('dialog').show()" icon="ui-icon-pencil" 
                                              title="View">
                                 <f:setPropertyActionListener value="#{item}" target="#{usuarioBean.item}" />
                            </p:commandButton>
                        </p:column>
                        
                    </p:dataTable>
                </h:form>
                
                <p:dialog header="Detalle" widgetVar="dialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <h:form id="frmEditar">
                        <p:outputPanel id="detail" style="text-align:center;">                        
                            <h:panelGrid columns="3" rendered="#{not empty usuarioBean.item}" columnClasses="label, value">
                                
                                <h:outputLabel id="lblId" for="txtID" value="ID: "/>
                                <h:inputText id="txtID" required="true" label="Campo ID. " 
                                             value="#{usuarioBean.item.id}" />
                                <h:message for="txtID" id="msgID" title="ID " />
                                
                                <h:outputLabel id="lblNumero" for="txtNumero" value="Numero: "/>
                                <h:inputText id="txtNumero" required="true" label="Campo Numero. " 
                                             value="#{usuarioBean.item.numId}" />
                                <h:message for="txtNumero" id="msgNumero" title="Numero " />
                                
                                <h:outputLabel id="lblNombre" for="txtNombre" value="Nombre: "/>
                                <h:inputText id="txtNombre" required="true" label="Campo Nombre. " 
                                             value="#{usuarioBean.item.nombres}" />
                                <h:message for="txtNombre" id="msgNombre" title="Nombre " />
                                
                                <h:outputLabel id="lblApellidos" for="txtApellidos" value="Apellidos: "/>
                                <h:inputText id="txtApellidos" required="true" label="Campo Apellidos. " 
                                             value="#{usuarioBean.item.apellidos}" />
                                <h:message for="txtApellidos" id="msgApellidos" title="Apellidos " />
                                
                                <h:outputLabel id="lblCorreo" for="txtCorreo" value="Correo: "/>
                                <h:inputText id="txtCorreo" required="true" label="Campo Correo. " 
                                             value="#{usuarioBean.item.correo}" />
                                <h:message for="txtCorreo" id="msgCorreo" title="Correo " />

                                <h:outputLabel id="lblPerfil" for="lstPerfiles" value="Perfil: "/>
                                <h:selectOneListbox id="lstPerfiles" label="Campo Perfil. " 
                                                    value="#{usuarioBean.sIdSelect}">
                                    <f:selectItems value="#{usuarioBean.lstPerfiles}" var="y" 
                                                   itemLabel="#{y.nombre}" itemValue="#{y.id}" />
                                </h:selectOneListbox>
                                <h:message for="lstPerfiles" id="msgPerfil" title="Perfil " />

                                <p:commandButton id="btnEnviar" value="Enviar" actionListener="#{usuarioBean.Actualizar}" 
                                                 oncomplete="PF('dialog').hide()" ajax="false" />
                                <p:commandButton id="btnEliminar" value="Eliminar" actionListener="#{usuarioBean.Eliminar}" 
                                                 oncomplete="PF('dialog').hide()" ajax="false" />
                            </h:panelGrid>
                        </p:outputPanel>
                    </h:form>
                </p:dialog>
                
                <p:dialog header="Crear" widgetVar="create" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <h:form id="frmCrear">
                        <p:outputPanel id="Crear" style="text-align:center;">                        
                            <h:panelGrid columns="3">
                                
                                <h:outputLabel id="lblNumero" for="txtNumero" value="Numero: "/>
                                <h:inputText id="txtNumero" required="true" label="Campo Numero. " 
                                             value="#{usuarioBean.numId}" />
                                <h:message for="txtNumero" id="msgNumero" title="Numero " />
                                
                                <h:outputLabel id="lblNombre" for="txtNombre" value="Nombre: "/>
                                <h:inputText id="txtNombre" required="true" label="Campo Nombre. " 
                                             value="#{usuarioBean.nombres}" />
                                <h:message for="txtNombre" id="msgNombre" title="Nombre " />
                                
                                <h:outputLabel id="lblApellidos" for="txtApellidos" value="Apellidos: "/>
                                <h:inputText id="txtApellidos" required="true" label="Campo Apellidos. " 
                                             value="#{usuarioBean.apellidos}" />
                                <h:message for="txtApellidos" id="msgApellidos" title="Apellidos " />
                                
                                <h:outputLabel id="lblCorreo" for="txtCorreo" value="Correo: "/>
                                <h:inputText id="txtCorreo" required="true" label="Campo Correo. " 
                                             value="#{usuarioBean.correo}" />
                                <h:message for="txtCorreo" id="msgCorreo" title="Correo " />

                                <h:outputLabel id="lblPerfil" for="lstPerfiles" value="Perfil: "/>
                                <h:selectOneListbox id="lstPerfiles" label="Campo Perfil. " 
                                                    value="#{usuarioBean.sIdSelect}">
                                    <f:selectItems value="#{usuarioBean.lstPerfiles}" var="y" 
                                                   itemLabel="#{y.nombre}" itemValue="#{y.id}" />
                                </h:selectOneListbox>
                                <h:message for="lstPerfiles" id="msgPerfil" title="Perfil " />

                                <p:commandButton id="btnGuardar" value="Guardar" actionListener="#{usuarioBean.Guardar}" 
                                                 oncomplete="PF('dialog').hide()" ajax="false" />
                            </h:panelGrid>
                        </p:outputPanel>
                    </h:form>
                </p:dialog>
            </ui:define>

        </ui:composition>

    </body>
</html>
