<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../layouts/MasterPage.xhtml">

            <ui:define name="splash">                
            </ui:define>

            <ui:define name="content">
                <h2>Registrar Actividad</h2>
                <h:form id="frmRegistrar">
                    <h:panelGrid columns="3">
                        <h:outputLabel id="lblDescripcion" for="txtDescripcion" value="Descripcion: "/>
                        <h:inputText id="txtDescripcion" required="true" label="Campo Descripcion. " value="#{actividadesBean.descripcion}" />
                        <h:message for="txtDescripcion" id="msgDescripcion" title="Descripcion " />
                        
                        <h:outputLabel id="lblFechaInicio" for="txtFechaInicio" value="Fecha Hora Inicio: "/>
                        <h:inputText id="txtFechaInicio" required="true" label="Campo Fecha Inicio. " value="#{actividadesBean.fechaHoraInicio}" />
                        <h:message for="txtFechaInicio" id="msgFechaInicio" title="Fecha Inicio " />
                        
                        <h:outputLabel id="lblFechaFin" for="txtFechaFin" value="Fecha Hora Fin: "/>
                        <h:inputText id="txtFechaFin" required="true" label="Campo Fecha Fin. " value="#{actividadesBean.fechaHoraFin}" />
                        <h:message for="txtFechaFin" id="msgFechaFin" title="Fecha Fin " />
                    </h:panelGrid>
                </h:form>
                <br></br>
                <br></br>
                <h2>Detalle Actividades</h2>
                <h:form id="frmPpal">
                    <p:dataTable id="dtConsultar" var="item" value="#{actividadesBean.lstActividades}" rows="10"
                            paginator="true"
                            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                            rowsPerPageTemplate="5,10,15">
                        <p:column headerText="Usuario">
                            <h:outputText value="#{item.usuario}" />
                        </p:column>

                        <p:column headerText="Detalle">
                            <h:outputText value="#{item.descripcion}" />
                        </p:column>
                        
                        <p:column headerText="Inicio">
                            <h:outputText value="#{item.fechaHoraInicio}" />
                        </p:column>
                        
                        <p:column headerText="Fin">
                            <h:outputText value="#{item.fechaHoraFin}" />
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
