<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../layouts/MasterPage.xhtml">
            <ui:define name="splash">
            </ui:define>
            <ui:define name="content">
                <h2>Reportes</h2>
                <hr />
                <h:form id="frmReportes">
                    <p:growl id="mensajeGeneral" showDetail="true" sticky="false"/>
                    <h:panelGrid columns="3">
                        <p:outputLabel for="idUsuario" value="Usuario:"  />
                        <p:selectOneMenu id="idUsuario" value="#{reportesBean.usuario}" required="true">
                            <f:selectItem itemLabel="Seleccione Uno"  itemValue=""/>
                            <f:selectItems value="#{reportesBean.listaUsuarios}" />
                        </p:selectOneMenu>
                        <p:message for="idUsuario"/>

                        <p:outputLabel value="Fecha Inicial:" for="idFechaIni"/>
                        <p:calendar id="idFechaIni" value="#{reportesBean.fechaIni}"  required="true" effect="fold" pattern="dd-MM-yyyy" mask="true"/>
                        <p:message for="idFechaIni" />

                        <p:outputLabel value="Fecha Final:" for="idFechaFin"/>
                        <p:calendar id="idFechaFin" value="#{reportesBean.fechaFin}" required="true"  effect="fold" pattern="dd-MM-yyyy" mask="true"/>
                        <p:message for="idFechaFin" />

                        <p:outputLabel value="" />
                        <p:outputLabel value="" />
                        <p:outputLabel value="" />
                        <p:outputLabel value="" />
                        <p:commandButton id="btnReporteHoras" value="Reporte Horas" action="#{reportesBean.generarReporteHoras()}" update="growl" ajax="false"/>
                    </h:panelGrid>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
