<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./layouts/MasterPage.xhtml">

            <ui:define name="content">
                <h2>Inicio de Sesión</h2>
                <hr />
                <h:form id="frmLogin">
                    <p:growl id="mensajeGeneral" showDetail="true" sticky="false"/>
                    <h:panelGrid columns="2">
                        <p:outputLabel value="Usuario" for="txtUsuario"/>
                        <p:inputText id="txtUsuario" size="40" value="#{loginSessionBean.correo}"/>
                        <p:outputLabel value="Contraseña" for="txtContrasena"/>
                        <p:password id="txtContrasena" size="40" value="#{loginSessionBean.contrasena}"/>
                        <h:panelGroup></h:panelGroup>
                        <p:commandButton value="Ingresar" action="#{loginSessionBean.login()}" update="mensajeGeneral"/>
                    </h:panelGrid>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
